@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  /*background color*/
  --nav-background: #0d0106;
  --sidebar-desc: #0d0106;
  --skill-background: #49475b;
  --projects-background: #282733;
  --getintouch-background: #f0f0f0;
  --aboutme-background: #49475b;
  --sidebar-background: #f0f0f0;
  --frontend-background: #dbdbdb;
  --backend-background: #1e1c1d;
  --othertools-background: #dbdbdb;
  --topic-interest: #1e1c1d;
  --projectspage-background: #282733;

  /*font-style*/
  --logo-font-family: "Brush Script MT";
  --skill-font-family: "Sitka Subheading";
  --skill-desc-font-family: "Century Schoolbook";
  --toolkit-font-family: "Courier New";
  --myportfolio-font-family: "Courier New";
  --fullname-font-family: "Courier New";
  --emailid-font-family: "Courier New";
  --message-font-family: "Courier New";
  --contactme-font-family: "Courier New";
  --allrightreserved-font-family: "Courier New";
  --sidebar-desc-font-family: "Courier New";
  --projects-font-family: "Sitka Subheading";
  --getintouch-font-family: "Sitka Subheading";
  --aboutme-font-family: "Sitka Subheading";
  --aboutme-desc-font-family: "Sitka Subheading";
  --sortby-font-family: "Consolas";
  --showmore-font-family: "Consolas";
  --sendmessage-font-family: "Consolas";
  --sidebar-nos-font-family: "Harlow Solid";

  /*equivalent to padding at the top of the page*/
  --header-height: 3rem;
  --nav-width: 324px;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*===== Colors =====*/
  --first-color: #cc4b2c;
  --first-color-dark: #662616;
  --first-color-darken: #290f09;
  --first-color-light: #eae7e6;
  --first-color-lighten: #fffafa;
  --text-color: #54423d;

  /*===== Font and typography =====*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*===== Margenes =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /*===== z index =====*/
  --z-fixed: 100;
}
@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}
h3 {
  font-weight: var(--font-semi-bold);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;

  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section {
  padding: 4rem 0 2rem;
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}
.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--nav-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--sidebar-background);
  font-family: var(--sidebar-desc-font-family);
  transition: 0.5se;
  font-weight: bolder;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--sidebar-desc);
  cursor: pointer;
}

.nav__item {
  margin-bottom: 1rem;
}
.nav__link {
  font-size: 1rem;
  /*text-transform: uppercase;*/
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: 0.3se;
  color: var(--sidebar-desc);
}
.nav__link:hover {
  font-weight: var(--font-bold);
  text-shadow: 0 2px 4px rgba(8, 13, 77, 0.801);
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
  padding-right: 1.8rem;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

.main__image {
  background-image: url(/images/pexels-media-2524368.png);
  width: 100%;
  display: flex;
  height: 465.84px;
  position: relative;
}
.tagline {
  height: 30%;
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: white;

  font-weight: var(--font-bold);
  line-height: 6vh;
  margin-top: 14rem;
  margin-left: 1.2rem;
  font-size: 2rem;
  padding: 1rem;
}
.hireme {
  position: absolute;
  border: 0.15rem white solid;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
  margin-top: 20.5rem;
  margin-left: 2.5rem;
  font-size: 1.4rem;
  padding: 0rem 1rem;
}
.hireme:hover {
  background-color: black;
  cursor: pointer;
}

.skill__set {
  width: 100%;
  height: 635px;
  background-color: /*rgb(143, 138, 138);*/ #2867b2;
  font-family: var(--skill-desc-font-family);
  color: black;
  position: relative;
  align-items: center;
}
.skill__set img {
  width: 20%;
  height: 20%;
  margin: 1.7rem 0rem 0.2rem 9rem;
}
.skill__heading {
  font-family: Sitka Subheading;
  text-align: center;
  padding: 2rem 0rem 1rem;
}
.tool__kit {
  border: 0.1rem solid black;
  width: 32%;
  padding: 0.5rem;
  font-weight: bolder;
  text-align: center;
  margin: 2rem 8rem 0rem;

  cursor: pointer;
}
.tool__kit:hover {
  /*background-color: #49475b;*/
  background-color: whitesmoke;
  cursor: pointer;
} /**/
.projects__group {
  position: relative;
  width: 100%;
  height: 875px;
  background-color: #232021;
}
.projects__heading {
  font-family: Sitka Subheading;
  text-align: center;
  padding: 2rem 0rem 1rem;
  color: white;
}
.sort__box {
  position: relative;
}
.dropbtn {
  background-color: black;
  color: white;
  font-family: var(--sortby-font-family);
  text-align: center;
  margin: 5px 120px;
  border: 0.14rem white solid;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 120px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.sort__box:hover .dropdown-content {
  display: block;
}
.projects__list {
  position: relative;
}
.project__no {
  position: relative;
  color: whitesmoke;
  width: 260px;
  height: 175px;
  border: 0.1rem white solid;
  margin-left: 3.1rem;
  margin-top: 2.5rem;
  background-color: whitesmoke;
  font-weight: bold;
  background-image: url(images/octavian-dan-b21Ty33CqVs-unsplash.png);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.project__fd {
  display: flex;
  margin-left: 2rem;
  margin-top: 7.4rem;
}
.Likes__fd {
  padding-right: 0.2rem;
  cursor: pointer;
}
.Source__fd {
  padding-left: 3rem;
  cursor: pointer;
}
.Likes__fd:active {
  color: red;
}
.Source__fd:hover {
  color: black;
}
.getin__touch {
  position: relative;
  width: 100%;
  height: 550px;
  background-color: #2867b2;
}
.getintouch_heading {
  font-family: Sitka Subheading;
  text-align: center;
  padding: 2rem 0rem 1rem;
  color: black;
}
.Name__box {
  margin-left: 2rem;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.25rem;
}

textarea {
  width: 90%;
  resize: none;
  font-size: 1.15rem;
  font-family: "Courier New", Courier, monospace;
  border-radius: 0%;
  border: 0.1rem black solid;
  color: black;
  font-weight: bolder;
}
.send__button {
  padding: 0.5rem 4rem;
  margin-left: 6rem;
  margin-top: 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  border: 0.1 black solid;
}
.send__button:hover {
  border: 0.1rem whitesmoke solid;
}
.vision__list {
  height: 900px;
  width: 100%;
  background-color: #1e1c1d;
  color: white;
  position: relative;
}
.vision__heading {
  font-family: Sitka Subheading;
  text-align: center;
  padding: 2rem 0rem 1rem;
}
.vision {
  position: relative;
  margin-bottom: 0.5rem;
}
.topic1 {
  margin-left: 2.75rem;
}
.topic2 {
  margin-left: 2.75rem;
}
.topic3 {
  margin-left: 2.75rem;
}
.topic4 {
  margin-left: 2.75rem;
}

.vision_no {
  font-family: var(--toolkit-font-family);
  font-weight: lighter;
  padding: 0.2rem;
  margin: 0rem 0.3rem;
  border: 0.1rem whitesmoke solid;
}
.about_desc {
  margin: 0px 30px;
  text-align: justify;
}
.social {
  text-align: center;
}
.social_no {
  font-family: var(--toolkit-font-family);
  font-weight: bolder;
  padding: 0.2rem;
  margin: 0rem 0.3rem;
  cursor: pointer;
  border: 0.1rem #2867b2 solid;
  background-color: #2867b2;
}

/*Screen 2 CSS*/
.skills_image {
  width: 100%;
  position: relative;
  background-image: url(images/chirayu-trivedi-n_I3pLf0V_0-unsplash.png);
  height: 480px;
}
.skills_tag {
  position: absolute;
  color: white;
  font-family: Sitka Subheading;
  font-size: 2rem;
  margin-top: 6rem;
  margin-left: 2rem;
  width: 80%;
  height: 200px;
  /*border: 0.1rem white solid;*/
}
/*rgb(143, 138, 138);*/
.coding__session {
  width: 100%;
  height: 800px;
  background-color: #dbdbdb;
  color: black;
  font-family: Sitka Subheading;
  text-align: center;
}
.coding-heading {
  font-family: Sitka Subheading;
  text-align: center;
  padding: 2rem 0rem 1rem;
  font-size: 2rem;
}
.code_logo {
  padding-left: 7.2rem;
  padding-top: 2rem;
}
.code__name {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
}
.checked {
  color: #2867b2;
}
.unchecked {
  color: whitesmoke;
}
.front__end {
  width: 100%;
  height: auto;
  background-color: #1e1c1d;
  color: white;
  text-align: center;
}
.flex-frontend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.front-heading {
  font-family: Sitka Subheading;
  text-align: center;
  padding: 2rem 0rem 1rem;
  font-size: 1.5rem;
}
.flexbox_no {
  padding: 1rem 1.5rem;
}
